<% provide(:title, 'Home') %>

<div class="center hero-unit">
    <h1>Welcome to the Inventory App</h1>
    <h2>
      This is the home page for the Inventory app
    
    </h2>
 
 

 <% if user_signed_in? %>
          Logged in as <strong><%= current_user.email %></strong>.
          <li><%= link_to 'Products', products_path %></li> 
          <li><%= link_to "Product Types", product_types_path %></li>
        <% else %>
         <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %>
        <% end %>
</div>