<footer class="footer">
  <small>
    <a href="rudyswebdevelopment.com">Inventory App</a>
    by Rudy Rodriguez
  </small>
  <nav>
    <ul>
     
     <!-- <li><%= link_to "Contact", 'about_path' %></li> -->
      
    </ul>
  </nav>
</footer>